#mainImg {
	width: 100%;
}

#sliderImg {
	width: 100%;
}

#outerContainer{
	border: 1px solid #F00;
	/*width: 50%;*/
	width: 100%; 
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	position: relative;
}

#sliderContainer {
	width: 100%;
	/*position: absolute;*/
	position: fixed;
	top: 7%;
	border: 1px solid #F00;
	z-index: 1;
}

#slider{
	display: inline-block;
	width: 20%;
	height: 100%;
	background-color: #000;
	opacity: 0.6;
	position: absolute;
	top: 0px;
}


#box1 {
	position: absolute; /* <----- Position "absolute" er nu relativ til parent "#outerContainer" */
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
}


#box12 {
	position: absolute; /* <----- Position "absolute" er nu relativ til parent "#outerContainer" */
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
}


.slideToggle_content {
	/*position: absolute;*/
	/*width: 300%;*/
	border: 1px solid #666;
}


.slideToggleMenu {
	border: 1px solid #666;
}


#slideToggleMenu1 {
	width: 20%;
	position: absolute;
	top: 10%;
	/*left: 10%;*/
	left: 20%;
	background-color: #73f9a9;
}
#slideToggleMenu1 .slideToggle_content{
	background-color: #73f9a9;
	position: absolute;
	width: 300%;
}

#slideToggleMenu2 {
	width: 20%;
	position: absolute;
	top: 30%;
	/*left: 10%;*/
	left: 50%;
	background-color: #9090d1;
}
#slideToggleMenu2 .slideToggle_content{
	background-color: #9090d1;
	position: absolute;
	width: 300%;
}

#slideToggleMenu2b {
	width: 100%;
	position: relative;
	/*left: 10%;*/
	background-color: #d2d4ec;
}
#slideToggleMenu2b .slideToggle_header{
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
}
#slideToggleMenu2b .slideToggle_content{
	background-color: #d2d4ec;
	position: relative;
	width: 100%;
	border: none;
}


#slideToggleMenu3 {
	width: 20%;
	position: absolute;
	top: 50%;
	/*left: 10%;*/
	left: 70%;
	background-color: #e26060;
}
#slideToggleMenu3 .slideToggle_content{
	background-color: #e26060;
	position: absolute;
	width: 300%;
}


.slideToggle_header {
	padding: 5px 10px 5px 10px;
}




.indent {
	padding-left: 20px;
}


.box {
	border: 1px solid #00F;
}

.red {
	color: #F00;
}

.green {
	color: #0F0;
}

.blue {
	color: #00F;
}

.black {
	color: #000;
}

.cyan {
	color: #0FF;
}

.fuchsia {
	color: #F0F;
}

.yellow {
	color: #FF0;
}

.ccc {
	color: #CCC;
}



/*******************************************/
